@font-face{
    font-family: "HelveticaNeue";
    src:url(../fonts/HelveticaNeue-Reguler/HelveticaNeue-Regular.eot);
    src:url(../fonts/HelveticaNeue-Reguler/HelveticaNeue-Regular.eot) format("embedded-opentype"),
    url(../fonts/HelveticaNeue-Reguler/HelveticaNeue-Regular.ttf) format("truetype"),
    url(../fonts/HelveticaNeue-Reguler/HelveticaNeue-Regular.woff) format("woff"),
    url(../fonts/HelveticaNeue-Reguler/HelveticaNeue-Regular.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue";
    src:url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot);
    src:url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot) format("embedded-opentype"),
    url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf) format("truetype"),
    url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff) format("woff"),
    url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.svg) format("svg");
    font-weight: 700;
    font-style: normal;
}
/*@font-face {
    font-family: "HelveticaNeue";
    src: url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot);
    src: local("☺"), url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff) format("woff"), url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf) format("truetype"), url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.svg) format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url(../fonts/HelveticaNeue-Regular.eot);
    src: local("☺"), url(../fonts/HelveticaNeue-Regular.woff) format("woff"), url(../fonts/HelveticaNeue-Regular.ttf) format("truetype"), url(../fonts/HelveticaNeue-Regular.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}*/